# Created by https://www.toptal.com/developers/gitignore/api/nextjs
# Edit at https://www.toptal.com/developers/gitignore?templates=nextjs

### DEAF MAP ###
### NextJS ###
# dependencies
deaf-map/node_modules
deaf-map/.pnp
deaf-map.pnp.js

# testing
deaf-map/coverage

# next.js
deaf-map/.next/
deaf-map/out/

# production
deaf-map/build

# misc
deaf-map/.DS_Store
deaf-map/*.pem

# debug
deaf-map/npm-debug.log*
deaf-map/yarn-debug.log*
deaf-map/yarn-error.log*
deaf-map/.pnpm-debug.log*

# local env files
deaf-map/.env*.local

# vercel
deaf-map/.vercel

# typescript
deaf-map/*.tsbuildinfo
deaf-map/next-env.d.ts

# End of https://www.toptal.com/developers/gitignore/api/nextjs
deaf-map/deaf-map-e175e-firebase-adminsdk-lfljq-0bb0cd34c2.json
