.question-grid {
  display: grid;
  grid-template-rows: 80% 20%;
  min-height: 600px;
}

.bool-button {
  min-width: var(--mid-width);
}

.form-button {
  background-color: rgb(var(--button-background-rgb));
  text-align: center;
  font-size: medium;
  height: 50px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.large-button {
  min-width: var(--long-width);
}

.question-title {
  font-size: x-large;
}

.question-content {
  display: grid;
  grid-template-rows: auto 90%;
}

.summary-box {
  min-height: 181px;
  width: var(--long-width);
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--tertiary-rgb));
  margin: 18px 40px;
  padding: 16px;
}

.info-review {
  border-bottom-width: 2px;
  border-bottom-color: rgb(var(--foreground-rgb));
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question-navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 25px;
}

.radio-button {
  border-radius: 5px;
  background-color: rgb(var(--button-background-rgb));
  width: 162px;
  height: 80px;
  margin: 8px;
}

.radio-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.summary-button {
  background-color: rgb(var(--summary-edit-button-rgb));
  width: 90px;
  height: 30px;
}

.summary-parent {
  overflow: scroll;
}
