.question-grid {
  display: grid;
  grid-template-rows: 80% 20%;
  min-height: 600px;
}

.bool-button {
  min-width: 144px;
}

.form-button {
  background-color: gray;
  text-align: center;
  font-size: medium;
  min-height: 50px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.large-button {
  min-width: 312px;
}

.question-title {
  font-size: x-large;
}

.question-content {
  display: grid;
  grid-template-rows: auto;
}

.form-input {
  min-height: 50px;
  color: black;
  min-width: 312px;
  margin: auto;
  border-radius: 12px;
  padding: 8px;
}

.summary-box {
  min-height: 181px;
  width: 312px;
  color: white;
  background-color: gray;
  margin: 18px 40px;
  padding: 16px;
}

.info-review {
  border-bottom-width: 2px;
  border-bottom-color: white;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question-navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
