.question-grid {
  display: grid;
  grid-template-rows: 80% 20%;
  min-height: 600px;
}

.bool-button {
  min-width: 144px;
}

.form-button {
  background-color: gray;
  text-align: center;
  font-size: medium;
  min-height: 50px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.large-button {
  min-width: 312px;
}

.question-title {
  font-size: x-large;
}

.question-content {
  display: grid;
  grid-template-rows: auto;
}

.form-input {
  min-height: 50px;
  color: black;
  min-width: 312px;
  margin: auto;
  border-radius: 12px;
  padding: 8px;
}
